/* 
#1C2F94, #F46552, #FFF9F8
font: Ferpal
*/
@font-face {
    font-family: Ferpal;
    src: url(fonts/Ferpal-Regular.otf);
  }  

html{
    scroll-behavior: smooth;
}
/* general */
*{
    padding: 0;
    margin: 0;
}

body{
    background: #FFF9F8;
    font-family: Ferpal;
    color: #333333;
}

p {
    margin-bottom: 1rem;
    font-size: .95rem;
    line-height: 23px;
    /* text-indent: 1.5em; */
}

a {
    color: #F46552;
    text-decoration: none;
    transition: .2s;
 }
 
 a:hover{
    color: #1C2F94 ;
 }

 .line{
    background-color: rgba(244, 101, 82, .1) ;
    width: 100%;
    height: .2rem;
 }

/* content */
.header{
    border-radius: .5rem;
}

.wrapper{
    padding: 2.5rem;
    margin-top: -1rem;
}

.inner-wrapper{
    max-width: 600px;
    margin: auto;
}
.description{
    margin-top: 2.5rem;
    padding: 1rem;
    text-align: center;
}



.section{
    padding: 1rem;
}

iframe{
    width: 100%;
    margin: 0;
    border: none;
    height: 100vh;

}

.logo{
    text-align: center;
    margin: 3rem 0 1.5rem;
    width: 100%;
}

.description{
    font-size: 1.1rem;
    text-align: center;
    margin: 0 0 1rem ;
    color: #1C2F94;
    line-height: 27px;
    font-weight: bolder;
}

.question{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem 0 1rem;
    text-align: center;
    color: #1C2F94;
}

.extra-info{
    text-align: center;
}

.extra-info ul {
    list-style: none;
    padding-bottom: 1rem;
}

ul li {
    font-size: .9rem;
    line-height: 1rem;
    padding-top: 1rem;
}

.name{
    color: #F46552;
}

a .position{
    font-size: .8rem;
    opacity: .8;
    color: #333333;
}

footer{
    margin: 5rem 0 0;
}

footer p{
    text-align: center;
    margin-top: 1rem;
    text-indent: 0;
    opacity: .8;
}

/* @media only screen and (min-width: 768px) {
  iframe{
      height: 80vh;
    }
} */

@media only screen and (max-width: 768px) {
    .logo img{
    max-width: 295px;
   }
   iframe{
    height: 50vh;
  }
}

/* arrow animation */
div.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	transform: rotate(-45deg);
}
div.arrow::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: black;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}

	
div.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: black;
    transform-origin: 100% 0;
    transition:.2s ease;
}
	
div.arrow:hover::after {
    transform: rotate(45deg);
    border-color: orange;
    height: 100%;
}
div.arrow:hover::before {
    border-color: orange;
    transform: scale(.8);
    
}
    

/*Menu*/

/* ul.menu{
    display: flex;
} */
.navbar {
    overflow: hidden;
    background-color: rgba(71, 67, 67, 1);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

ul{
list-style-type: none;
text-align: center;
}

.navbar a {
float: left;
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: .75rem;
text-transform: uppercase;
}

.navbar a:hover {
background: #ddd;
color: black;
}
