/* 
#1C2F94, #F46552, #FFF9F8
font: Open sans
*/
@font-face {
    font-family: Ferpal;
    src: url(fonts/Ferpal-Regular.otf);
  }  

/* general */
*{
    padding: 0;
    margin: 0;
}

body{
    background: #FFF9F8;
    font-family: Ferpal;
    color: #333333;
}

p {
    margin-bottom: 1rem;
    font-size: .97rem;
    line-height: 26px;
    text-indent: 1.5em;
}

a {
    color: #F46552;
    text-decoration: none;
    transition: .3s;
 }
 
 a:hover{
    color: #1C2F94;
 }

/* content */
.wrapper{
    padding: 2.5rem;
    margin-top: -1rem;
}

.inner-wrapper{
    max-width: 600px;
    margin: auto;
}

iframe{
    width: 100%;
    margin: 0;
}

.logo{
    text-align: center;
    margin: 3rem 0 1rem;
}

.logo img{
    max-width: 295px;
}

.description{
    font-size: 1.2rem;
    text-align: center;
}

.question{
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 2rem 0 1rem;
    text-align: center;
    color: #1C2F94;
}

.extra-info{
    text-align: center;
}

.extra-info ul {
    list-style: none;
    padding-bottom: 1rem;
}

ul li {
    font-size: .9rem;
    line-height: 1rem;
    padding-top: 1rem;
}


.position{
    font-size: .8rem;
    opacity: .8;
    color: #333333;
}

@media only screen and (min-width: 768px) {
    iframe{
      height: 100vh;
    }
}